/* 
ALL VARIABLES */

:root{
    --c-lime-green: hsl(163, 72%, 41%);
    --c-bright-red: hsl(356, 69%, 56%);

    --c-facebook: hsl(195, 100%, 50%);
    --c-twitter: hsl(203, 89%, 53%);
    --c-youtube: hsl(348, 97%, 39%);
    --g-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));


    /* TOGGLE STYLES */
        /* DARK */
    --g-toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        /* LIGHT */
    --c-toggle-light: hsl(230, 22%, 74%);



    /* DARK STYLES */

    --bg-dark-blue: hsl(230, 17%, 14%);
    --bg-pattern-dark-blue : hsl(232, 19%, 15%);
    --bg-card-dark-blue : hsl(228, 28%, 20%);
    --c-t-desaturated-blue: hsl(228, 34%, 66%);
    --c-t-white: hsl(0, 0%, 100%);
    --c-hover-color: hsl(225, 32%, 24%);
    

    /* LIGHT STYLES */

    --bg-white: hsl(0, 0%, 100%);
    --bg-pattern-pale-blue: hsl(225, 100%, 98%);
    --bg-card-light-greyish-blue: hsl(227, 47%, 96%);
    --c-card-dark-greyish-blue: hsl(228, 12%, 44%);
    --c-very-dark-blue: hsl(230, 17%, 14%);

}

/* BASIC RESETS */


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--c-t-white);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}

body{
    background-color: var(--bg-dark-blue);
}

/**********************
HELPER STYLES 
**********************/

.decrement{
    color: var(--c-bright-red);
}
.increment{
    color: var(--c-lime-green);
}

/* MAIN STYLES GOES HERE */

.wrapper{
    background: var(--bg-dark-blue);
}


/**********************
HEADER STYLES 
**********************/


.header{
    background-color: var(--bg-pattern-dark-blue);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 25rem;
    padding: 2rem 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    /**********************
    HEADING STYLES 
    **********************/


.heading__primary{
   font-size: 2.4rem;
}
.heading__secondary{
    color: var(--c-t-desaturated-blue);
}
    /**********************
    TOGGLE STYLES 
    **********************/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toggle{
    height: 1.8rem;
    width: 3.7rem;
    border-radius: 3rem;
    background:  var(--g-toggle-dark); 
    position: relative;
    cursor: pointer;
}

.btn-text{
    margin-right: 1rem;
    color: var(--c-t-desaturated-blue);
}

.btn-input{
    display: none;
}

.round-slider{
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 5rem;
    background-color: var(--bg-dark-blue);
    position: absolute;
    top: 2px;
    right: 2px;
    transition: transform .5s ease-out;
}

.btn-input:checked + .round-slider{
    transform: translateX(-1.9rem);
    background-color: var(--c-toggle-light);
}

    /******************
     DELETE ME OR FIX ME 
     *******************/

.btn-input:checked + .btn-text{
    color: #fff;
}




/**********************
MAIN STYLES 
**********************/

.main{
    padding: 2rem 10%;
    margin-top: -13rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

    /**********************
    MAIN CARD STYLES 
    **********************/
.card{
    padding: 3rem;
    background-color: var(--bg-card-dark-blue);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: background .3s ease-in;
    cursor: pointer;
}


.card__social-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-info-img{
    margin-right: .5rem;
}
.social-info-p{
    color: var(--c-t-desaturated-blue);
    font-size: 1.2rem;
}

.card__stats{
    margin: 1rem 0;
    line-height: 1.2;
    text-align: center;
}
.stats__number{
    font-size: 6rem;
}
.stats__text{
    font-size: 1.4rem;
    color: var(--c-t-desaturated-blue);
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.today-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--c-lime-green);
    font-weight: bold;
}
.counter-img{
    margin-right: .4rem;
}

.card::before{
    content: '';
    width: 100%;
    height: .4rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--c-facebook);
}


    /******************
    CARDS TOP COLORS 
    ******************/
.card-facebook::before{ background-color: var(--c-facebook); }
.card-twitter::before{ background-color: var(--c-twitter); }
.card-instagram::before{ background: var(--g-instagram); }
.card-youtube::before{ background-color: var(--c-youtube); }



/**********************
OVEVIEW STYLES 
**********************/
.overview{
    padding: 2rem 10%;
}
.overview-heading{
    font-size: 2rem;
}


.overview-wrapper{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.overview-card{
    background: var(--bg-card-dark-blue);
    border-radius: .5rem;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    padding: 2.5rem;
    line-height: 1;
    transition: background .3s ease-in;
    cursor: pointer;
}
.card:hover,
.overview-card:hover{
    background: hsl(225, 32%, 24%);
}


.overview-number{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}
.numbers-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--c-t-desaturated-blue);
    margin-bottom: 2rem;
}
.numbers-counter{
    font-size: 3rem;
}

.overview-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   justify-content: space-between;
}


.overview-percentage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.overview-percentage img{
    margin-right: .5rem;
}





@media only screen and (max-width: 1300px){
    html{
        font-size: 55%;
    }
}
/* @media only screen and (max-width: 1200px){
    .main{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .overview-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media only screen and (max-width: 1100px){
    
    .main{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .overview-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px){
    
    .main{
        grid-template-columns: 1fr;
    }
    
    .overview-wrapper{
        grid-template-columns: 1fr;
    }
    .btn-text{
       font-size: 1.4rem;
       font-weight: bold;
    }
}

@media only screen and (max-width: 500px){
    html{
        font-size: 55%;
    }
    .header{
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem 5%;
    }
    .main{
        margin-top: -8rem;
        padding: 2rem 5%;
    }
    .overview{
        padding: 2rem 5%;
    }
    .heading::after{
        content: "";
        width: 90%;
        height: 1px;
        opacity: .5;
        background-color: var(--c-t-desaturated-blue);
        position: absolute;
        top: 9.5rem;
        right: 5%;
}
    .btn{
        width: 100%;
        margin-top: 5rem;
        justify-content: space-between;
    }
}